#trier-par {
  background-color: #20b2aa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  width: 100%;
  max-width: 390px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
#trier-par:focus {
  outline: none;
  border-color: #198b7e;
}
#trier-par option {
  padding: 10px;
  background-color: #20b2aa;
  color: black;
  border: none;
  font-size: 16px;
}
#trier-par option:hover {
  background-color: #198b7e;
  cursor: pointer;
}
#trier-par option:checked {
  background-color: #198b7e;
  color: white;
}
#trier-par:hover {
  background-color: #198b7e;
  cursor: pointer;
}   
#trier-par option:hover {
  background-color: #ddd;
} 
button[caca="caca"] {
  width: 100%; 
}
th.sorting {
  background-color: #198b7e;
  color: white;
} 
#search_value[name="search_value"] {
  width: 100%;
} 
select[id="trier-par"][name="order-by"][caca="caca"] {
  max-width: none !important; 
  text-align: center;
}
